<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebRTC</title>
    <style>
      * {
        margin: 0px;
      }

      body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
      }

      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    </style>
  </head>
  <body>
    <div
      style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      "
    >
      <!-- player -->
      <img
        src="https://drive.google.com/uc?export=view&id=1ThQSqLAqTqy0QWC3SnuYyhH-SiA3hpEb"
        alt="left"
        height="975vh"
      />

      <div style="top: 20px">
        <div style="padding-left: 50vw">
          <img
            src=" https://media.discordapp.net/attachments/1086720620491964416/1099055004058386602/Giraffe.png?width=409&height=676"
            alt="right"
            height="150px"
          />
        </div>

        <div>
          <video
            width="1180"
            id="videoPlayer"
            autoplay
            controls
            muted
            playsinline
          ></video>
        </div>
        <input type="hidden" id="uuid" value="{{ .uuid }}" />
        <input type="hidden" id="channel" value="{{ .channel }}" />
      </div>

      <img
        src="https://drive.google.com/uc?export=view&id=14pWZ3GSZkdV0aic0PFx7G_te9vnIGD0K"
        alt="right"
        height="975vh"
      />
    </div>
  </body>
</html>
